*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

body{
    

    /* padding: 100px 100px 180px 100px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}


#사진{
    width: 1168px;
    height: 240px;
}


.main{
    /* background-color: aquamarine; */
    width: 1920px;
    height: 1454px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}

.head{
    width: 1920px;
    height: 60px;
    display: flex;
    justify-content:  center;
    /* background-color: yellow; */
}

.head__내용{
    width: 1168px;
    height: 60px;
    /* background-color: aquamarine; */
    display: flex;
    /* align-items: ; */
    justify-content: start;
}

#로고사진{
    width: 1168px;
    height: 240px;
    /* margin-bottom: 24px; */
}

.body{
    width: 1920px;
    height: 1370px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: brown; */
}

.일기사진선택{
    width: 1168px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* background-color: aqua; */
    margin-top: 24px;
    gap: 32px;
    margin-bottom: 42px ;
}

#일기보관함{
    width: 119px;
    height: 48px;
    border: 0px;
    background-color: white;
    font-size: 20px;

}




#사진보관함{
    width: 119px;
    height: 48px;
    border: 0px;
    background-color: white;
    font-size: 20px;
}




#기분필터{
    width: 120px;
    height: 32px;

}

.필터일기등록{
    width: 1168px;
    height: 48px;
    display: flex;
    justify-content: space-between ;
} 

#기분필터{
    width: 120px;
    height: 48px;
    font-size: 20px;
}

.필터서치바{
    display: flex;
    gap: 16px;
 
}

.서치바{
    display: flex;
    position: relative;    
    width: 320px;
    /* height: 48px; */
}

.서치바인풋{
    width: 100%;
    padding-left: 40px;
    border-radius: 20px;
    font-size: 20px;
}

.서치바아이콘{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    /* top: %; */
    left:12px
}

.일기기버튼{
    width: 110px;
    height: 48px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.일기사진{
    display: flex;
    flex-direction: row;
    
    align-items: flex-start;
    gap: 16px;
    font-size: 25px;
    /* background-color: blue; */

}

.일기메인{
    width: 1920px;
    /* height: 1167px; */
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-height: calc(100vh - 320px); /* 헤더/사이드/여백 빼고 높이 잡기 */
  /* overflow: auto; */
    /* background-color: blueviolet; */
    justify-content: center;
    /* align-items: center; */
    
}

.일기목록{
    /* background-color: greenyellow; */
    width: 1168px;
    height: 936px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:24px;
    /* overflow-y:scroll ; */
    
}

.일기{
    width: 274px;
    height: 296px;
    
}

.기분카드{
    width: 274px;
    height: 208px;

    /* transition: width 0.5s, height 0.5s, filter 0.5s; */
}

/* .기분카드:hover{
    width: 110%;
    height: 110%;
    filter: blur(5px);

} */


.일기쓰기버튼{
    width: 110px;
    height: 48px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 17px;
}

.일기삭제버튼{
    width: 24px;
    height: 24px;
    border-radius: 100px;
    position: relative;
    top: -260px;
    left: 240px;
    cursor: pointer;
    border: 0px;
    background-color: white;
}

.모달그룹{
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    /* background-color: aquamarine; */
    /* z-index: 100; */
}

.모달배경{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 50%;
    /* background-color: blueviolet; */
}

#모달등록완료배경{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 50%;
    position: relative;
    display: none;
    /* z-index: 100; */
}

#모달등록완료{
    width: 480px;
    height: 200px;
    position: absolute;
    top: calc(50% - 200px/2);
    left: calc(50% - 480px/2);
    background-color: white;
    display: none;
    /* z-index: 101; */
}

.일기등록취소모달그룹{
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    /* z-index: 101; */

}


.일기등록취소모달배경{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 50%;
    /* position: relative; */
}

#일기등록취소모달{
    width: 480px;
    height: 200px;
    position: absolute;
    top: calc(50% - 200px/2);
    left: calc(50% - 480px/2);
    background-color: white;
    /* display: none; */
    /* z-index: 9999; */
}


.일기작성{
    width: 640px;
    height: 560px;
    /* background-color: greenyellow; */
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: start;
    gap:40px;
    padding: 24px;

    position: absolute;
    top: calc(50% - 560px/2);
    left: calc(50% - 640px/2);
    background-color: rgb(255, 255, 255);
    /* opacity: 0.8; */
}

.일기작성__헤드{
    font-size: 30px;
}

.일기작성__헤드__내용{
    font-size: 30px;
}

.일기작성__메인{
    width: 592px;
    height: 256px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: start;
    margin-bottom: 70px;
}

.일기작성__메인__기분어땠어{
    width: 592px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:16px;
    margin-bottom: 40px;
    /* background-color: black; */

}

.일기작성__메인__기분어땠어__내용{
    font-size: 20px;
}

.일기작성__메인__기분선택{
    /* background-color: aquamarine; */
    width: 592px;
    height: 24px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    gap:20px
}

.일기작성__메인__기분선택__라디오{
    display: flex;
    flex-direction: row;
    gap: 8px;
    
}


.일기작성__메인__제목{
    width: 592px;
    height: 76px;
    margin-bottom: 24px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.일기작성__메인__내용{
    width: 592px;
    height: 128px;
    gap: 8px;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

#제목입력{
    width: 592px;
    height: 48px;
}

#내용입력{
    width: 592px;
    height: 128px;
}

.일기작성닫기등록{
    width: 592px;
    height: 48px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 16px;

}

.일기작성__등록{
    width: 312px;
    height: 48px;
    display: flex;
    justify-content: center;
}

#닫기{
    width: 104px;
    height: 48px;
    border-radius: 10px;
}

#등록하기{
    width: 104px;
    height: 48px;
    border-radius: 10px;
}


.플로팅버튼{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid rgb(212, 207, 207);

    position :absolute;
    right: 100px;
    /* bottom: 100px */
}
    


.footer{
    width: 1920px;
    height: 160px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /* align-items: center; */
    padding: 24px 0px 24px 0px;
    
}

.footer__내용{
    width: 1168px;
    height: 112px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    gap: 32px;
    
}

.footer__내용__내용{
    height: 16px;
}



@media( max-width: 1168px){

    .main{
        width: 100%;
    }
    .head{
        width: 100%;
    }

    .head__내용{
        width: 100%;
    }
    

    .일기메인{
        /* min-width: 73.00rem; */
        /* display: grid; */
        display: flex;
        /* display: grid; */
        flex-direction: column;
        grid-template-columns: 1fr ;
    }

    .일기목록{
        display: grid;
        grid-template-columns: 1fr 1fr;
        order: 2;
        /* width: 100%; */
        
    }

    .일기작성{
        order: 1;
    }

    .일기{
        width: 100%;
    }
}

.일기삭제모달그룹{
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
}

.일기삭제모달배경{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 50%;
    position: relative;
}


.일기삭제모달{
    width: 480px;
    height: 200px;

    position: absolute;
    top: calc(50% - 200px/2);
    left: calc(50% - 480px/2);
    /* top: 50%;
    left: 50%;
    transform: 50% 50%; */
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    gap: 40px;
}

.일기삭제모달__내용{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.일기삭제모달__내용__1{
    font-weight: bold;
}

.일기삭제모달__내용__2{
    font-size: 18px;
}

.일기삭제모달__버튼{
    gap: 50px;
}

.일기삭제모달버튼{
    width: 104px;
    height: 48px;
    border-radius: 10px;
    font-size: 18px;
    
}

#일기삭제모달버튼__취소{
    background-color: white;
}

#일기삭제모달버튼__완료{
    color: white;
    background-color: black;
}



