*{
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 24px;
}



#section1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    
}

#section1__1 {
    display: flex;
    justify-content: space-between;
}

#section1__1__1{
    display: flex;
    align-items: center;
    gap: 4px;
}

#section1__1__1__1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #E4E4E4;
    border-radius: 100%;
}

#icon1{
    width: 15px;
    height: 15px;
}

#section1__3{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    
}

#img2__back{
    width: 1280px;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

#img1{
    width: 400px;
    height: 531px;
}

#img{
    width: 822px;
    height: 464px;
}

#text{
    line-height: 1.6;
}

#section2{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.section2__1{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.section3{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.section3__1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid ;
    border-radius: 10px;
    width: 105px;
    height: 40px;
}

#icon2{
    width: 24px;
    height: 24px;
    
}

#icon3{
    width: 15.1px;
    height: 18.44px;
}

#icon4{
    width: 17;
    height: 11.27px;
}

#icon5{
    width: 17px;
    height: 17px;
}

